<!--The content below is only a placeholder and can be replaced.-->
<!-- <div>
  <h1>
    Welcome to {{pageHeader}}!
</h1>

<img src='{{imagePath}}' />
<img [src]='imagePath'/>
<h1>Full Name:{{getFullName()}}</h1>
<button [disabled]='isDisabled'>click Me</button>
//<button disabled= '{{bvalue}}'>Submit</button>
<h1>Calculated value:{{val1+val2}}</h1>
ternary operation

<h1>greater value:{{val1 > val2 ? val1 : val2}}</h1>
<h1><span [innerHTML]="val1"></span></h1>
<input type="text" id="id1" value="Akbar">

</div> -->

<div>
  <h1>
    Welcome to {{pageHeader}}!
</h1>


<!-- <h1><button class="colorClass" [class]='applyToClass'>My Button</button></h1>
<br/>

<h1><button class="colorClass" [class.boldClass]='!applyBoldClass'>click Me</button></h1>

<br/>
<h1><button class="colorClass" [ngClass]='addClass()'>Submit</button></h1> -->
<br/>
<h1><button (click)='onClick()'>Click Me</button></h1>
</div>
<!-- <app-employee> </app-employee>
<app-customer> </app-customer> -->
<app-publisher1></app-publisher1>



